/* reset.css */
/* Aqui você pode adicionar um reset CSS para normalizar os estilos entre navegadores */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #111; /* Fundo um pouco mais claro que o corpo */
    color: #fff;
    padding: 1rem 0;
}

header .logo {
    float: left;
    width: 8%;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
}

header nav ul li a:hover {
    background: #575757;
}

.contact {
    padding: 2rem 0;
}

.contact form {
    max-width: 600px;
    margin: auto;
}

.contact form label {
    display: block;
    margin-bottom: 0.5rem;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
}

.contact form textarea {
    resize: vertical;
}

.contact form button {
    background-color: rgb(0, 217, 255); /* Cor do botão */
    color: #000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.contact form button:hover {
    background-color: #00b2e0;
}

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: rgb(0, 217, 255); /* Cor do botão */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
