.side-center img {
  width: 200px;
  box-shadow: 1px 2px 1px 1px rgba(2, 192, 235, 0.911);
  border-radius: 50%;
  flex-shrink: 0;
  line-height: 0;
  overflow: hidden;
  vertical-align: middle;
}

.description {
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.plus-container {
  width: 85%;
  margin: auto;
}

#plus {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
  
}
.plus {
  justify-content: space-evenly;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

h5 {
  padding-top: 10px;
}

.project-container {
  width: 100%;
  margin: auto;
}

.button {
  margin: 50px;
}

.projects{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.project-img {
  height: 2px;
  height: 160px;
  border-radius: 4%;
  margin: 1rem 0;
  display: inline-block;
  cursor: pointer;
}
.project {
  width: 300px;
  border: 2px solid #222;
  border-radius: 10px;
  box-shadow: 0 2px 4px 2px rgba(3, 225, 250, 0.791);
}

.project:hover{
  border: 2px solid #222;
  border-radius: 10px;
  box-shadow: 1px 8px 8px 6px rgba(3, 225, 250, 0.791);
}
.card-img-top {
  height: 250px;
  background-color: #222;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  height: 210px;
  padding: 10px;
  background-color: #222;
}

.card-body:hover {
  height: 210px;
  padding: 10px;
  background-color: #444;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgba(2, 192, 235, 0.911);
}

.card-text {
  font-size: 1rem;
  color: rgba(2, 192, 235, 0.911);
}

.btn-info {
  background-color: rgba(2, 192, 235, 0.911);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.btn-info:hover {
  background-color: rgba(90, 210, 237, 0.911);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 2px rgba(151, 212, 225, 0.92);
  padding: 10px 20px;
  text-transform: uppercase;
}

h1{
  padding: 30px 0px 5px 0px;
}


