/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(1, 21, 27, 0.322);
}

.modal-content {
  position: relative;
  background-color: #061414d6;
  margin: auto;
  padding: 20px;
  border: 1px solid #0496bb;
  width: 75%;
  max-width: 700px;
  color: #03afde;
  box-shadow: 0 2px 4px 3px rgba(14, 124, 136, 0.553);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.modal-img {
  width: 100%;
  border-radius: 4%;
  margin: 1rem 0;
}

.modal-img-desc {
  text-align: center;
  margin-top: -10px;
  font-size: 1rem;
}

