.container-content {
  width: 98%;
  height: auto;
  margin: 50px;
  margin: auto;
  display: none;
}

.container-item {
  width: 100%;
}

.container {
  width: 98%;
  margin: 0px;
}

.sub-container {
  display: flex;
  width: 100%;
  height: auto;
}

.plusCard {
  width: 180px;
  height: 220px;
  /* border: 2px solid rgba(3, 225, 250, 0.87); */
  background-color: #222222a7;
  
}

.card-img-top {
  height: 180px;
  background-color: #222;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.card-body {
  height: auto;
  padding: 1px;
  
  border-radius: 5%;
}

.card-body p {
  margin: auto;
}

.container-1 {
}

.list-item {
  display: flex;
  width: 98%;
  margin-top: 50px;
}

.project-item {
  width: 50%;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
  margin-left: 20px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}

.project-item:hover {
  transform: scale(1.02);
}

.project-item img {
  width: 100%;
  height: auto;
}

.project-details {
  display: none;
  background: #949494;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: 20px;
  width: 72%;
  height: 450px;
  align-self: center;
}
