.container {
  padding: 0px;
  margin: 50px;
}
.row {
  width: 214%;
}

.card {
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 10px;
  background-color: black;
  border: 1px solid #c6c3c3ee;
  border: 2px solid #222;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.02);
}

.plusCard {
  width: 80%;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.plusCard:hover {
  transform: scale(1.02);
}

.plusCard img {
  width: 100%;
  height: auto;
}

.card-body {
  width: 100%;
  height: 200px;
  padding: 15px;
  text-align: left;
}

.espaço {
  width: 30%;
  padding: 0px;
} 

.list-group {
  width: 100%;
}

.espaço-2 {
  width: 40%;
}

#project-details {
  background: #858484ac;
  padding: 20px;
  border: 1px solid #c6c3c3ee;
  border-radius: 8px;
  width: 100%;
  height: 700px;
  z-index: 800; /* Para ficar acima dos outros elementos */
}