.side-center img {
    width: 180px;
    height: 210PX;
    box-shadow: 1px 2px 1px 1px rgba(2, 192, 235, 0.911);
    border-radius: 10px;
    flex-shrink: 0;
    line-height: 0;
    overflow: hidden;
    vertical-align: middle;
    background-color: #000;
}

.container-sobre {
    border-radius: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    background: #222;
    padding-top: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0, 217, 255);
}

.about-me {
    text-align-last: left;
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
}

.about-me h1 {
    font-family: 'Times New Roman', Sans-serif;
    text-align: center;
    color: #d0d0d0;
}

.about-me p {
    font-family: 'Verdana', serif;
    padding: 20px 0;
}

.about-me img {
    width: 152px;
    height: 150px;
    box-shadow: 1px 2px 1px 1px rgba(2, 192, 235, 0.911);
    border-radius: 50%;
    flex-shrink: 0;
    line-height: 0;
    overflow: hidden;
    vertical-align: middle;
    object-fit: cover;
}

.left-circle {
    float: left;
    margin-right: 20px;
}

.right-circle {
    float: right;
    margin-left: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container-skill {
    display: flex;
    justify-content: space-evenly;

}

.column div {
    display: flex;
}



footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: rgb(0, 217, 255);
    /* Cor do botão */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}