/* styles.css */

body {
  
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000;
  /* Fundo preto */
  color: #fff;
  /* Texto branco */

}

#custom-header  {
  background-color: #555;
}

header nav a img {
  width: 100px;
}

main {
  
  background: #000;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;


}



.container-1 {
  border-radius: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 98%;
  margin: auto;
  margin-top: 10px;
  background: #222;
  padding-top: 10px;
  box-shadow: 0px 0px 1px 1px rgba(1, 238, 255, 0.791);
}

.container-2 {
  text-align: center;
  display: block;
  padding-top: 20px;
}

aside {
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  justify-content: space-around;
  background: #666;
  color: #888888;
  text-align: center;
  align-items: center;
  padding: 4px 0px 4px 0px;
  margin: auto;
  font-size: 12px;
}

.Networking {
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin: auto;
  text-decoration: none;
}

.content-network a {

    color: #bababa;
    text-decoration: none;
   
}

.compiled {
  font-size: 12px;
  text-decoration: none;
  color: #bababa;
}

/* Botões com cor rgb(0, 217, 255) */
button {
  background-color: rgb(0, 217, 255);
  color: #000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #00b2e0;
}
