.container-sobre {
    border-radius: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    background: #222;
    padding-top: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0, 217, 255);
}

.about-me {
    text-align-last: left;
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
}

.about-me h1 {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    color: #b9b8b8;
}

.about-me p {
    font-family: 'Cormorant Garamond', serif;
    padding: 20px 0;
    color: #b9b8b8;
}

#qualificação {
    font-family: 'Cormorant Garamond', serif;
}

.about-me img {
    width: 152px;
    height: 150px;
    box-shadow: 1px 2px 1px 1px rgba(2, 192, 235, 0.911);
    border-radius: 50%;
    flex-shrink: 0;
    line-height: 0;
    overflow: hidden;
    vertical-align: middle;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 30px;
    overflow: hidden;
    transition: transform 0.2s;
}

p img:hover {
    transform: scale(1.08);

}

.left-circle {
    float: left;
    margin-right: 20px;
}

.right-circle {
    float: right;
    margin-left: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container-skill {
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 50px;
    margin: auto;
}

#qualificação{
    padding: 50px;
    text-align: center;

}

.column h2 {
    background: linear-gradient(to right,  rgba(2, 192, 235, 0.911), rgba(2, 192, 235, 0.444));
    color: #000000;
    padding: 10px;
    border-radius: 8px;
    width: 580px;
    text-align: center;
}

.column div {
    display: flex;
    border: 2px solid rgba(2, 192, 235, 0.911);
    padding: 5px; /* Espaço interno */
    border-radius: 8px; /* Cantos arredondados (opcional) */
    box-shadow: 0 0 8px rgba(5, 136, 166, 0.68); /* Sombra para dar um efeito de profundidade (opcional) */
    text-align: left;
}

.column div ul{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}