#qualificação {
    font-family: 'Times New Roman', Sans-serif;
    display: flex;
    width: 400px;
    height: 80px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    align-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
}

.gradient-line {
    border: none;
    height: 7px;
    background: linear-gradient(to right, rgba(3, 115, 127, 0.444), rgba(3, 210, 233, 0.555), rgba(3, 225, 250, 0.999), rgba(3, 210, 233, 0.555), rgba(3, 115, 127, 0.444));
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }

.cardline {
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    
}

.cardpoint .card-check {
    border: 2px solid #28daf1;
    border-radius: 1em;
    padding: 1em;
    width: 250px;
    height: 300px;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Verdana', serif;
    color: #d0d0d0;
    font-size: 12px;
    text-align: left;
}

.cardpoint .card-check h3 {
    font-size: 20px;
}

