.side-center {
  width: 80%;
  margin: auto;
  margin-bottom: -50px;
  font-family: 'Cormorant Garamond', serif;
  z-index: 8000;
}

.title {
  margin-bottom: .5rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  margin-bottom: 10px;
  color: rgb(5, 170, 207);
}

.left-h {
  text-align: left;
  width: 90%;
  margin: auto;
  margin-bottom: .5rem;
  font-size:24px;
  margin-bottom: 10px;
  color: rgb(5, 170, 207);
}
.left-p {
  text-align: left;
  width: 90%;
  margin: auto;
  margin-bottom: .5rem;
  font-size:18px;
  margin-bottom: 10px;
  color: rgb(178, 179, 180)!important; 
}

.left-h6 {
  text-align: left;
  width: 90%;
  margin: auto;
  margin-bottom: .5rem;
  font-size:18px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255)
}

.container-content {
  width: 100% !important;
  margin: 50px;
  margin: auto;
  display: none;
  margin-top: -450px;
  z-index: 110;
}

.container-item {
  width: 20% !important;
  display: flex;
  justify-content: space-evenly;
  transition: 0.5s;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-item:hover {
  transform: scale(1.02);
}

.container-0 {
  width: 85% !important;
  margin: 20px;
  margin-left: 360px;
  display: flex;
  gap: 15px;
}

.sub-container {
  display: flex;
  width: 100% !important;
}

.gradient-line {
  border: none;
  height: 7px;
  background: linear-gradient(to right, rgba(3, 115, 127, 0.444), rgba(3, 210, 233, 0.555), rgba(3, 225, 250, 0.999), rgba(3, 210, 233, 0.555), rgba(3, 115, 127, 0.444));
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.plusCard {
  width: 70%;
  grid-template-rows: 210px 250px 20px;
  background: #1d1d1d;
  color:white;
  text-align: justify;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.691);
  transition: transform 0.5s; 
}

.plusCard:hover{
  transform: scale(1.02);
  cursor: pointer;
}

.card-img-top {
  width: 100%;
  height: 290px;
  background-color: #222;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.card-body {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
}

.card-title {
  margin-bottom: .5rem;
  font-family: 'Cormorant Garamond', serif;
  font-size:14px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgba(222, 222, 222, 0.962)!important;
  
}

.card-text {
  font-family: 'Cormorant Garamond', serif;
  font-size:14px;
  color: rgb(197, 197, 197);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.list-unstyled {
  width: 1000px;
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
  padding: 20px;
  margin-left: 515px;
  margin-top: -520px;
  overflow-x: scroll;
}

.project-item {
  
  margin-right: 10px;
  flex-shrink: 0;
  width: 250px !important;
  height: 380px;
  padding: 0px;
  cursor: pointer;
  transition: transform 0.2s;
  background: #00000050;
  box-shadow: 0 10px 15px 2px rgba(0, 0, 0, 0.676);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  
}

.project-item:hover {
  transform: scale(1.02);
  background: rgb(30, 37, 39);
}

.project-item img {
  width: 100% !important;
  height: auto;
  border-radius: 2px;
}

.card-body2 {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
}

.project-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(21, 27, 28, 0.950);
  padding: 10px;
  border: 1px solid #238f9e;
  border-radius: 8px;
  box-shadow: 0 4px 6px 1px rgb(39, 109, 121);
  width: 100%;
  max-width: 50%; /* Ajuste conforme necessário */
  height: 550px; /* Ajuste conforme necessário */
  backdrop-filter: blur(10px);
  display: none; /* Mantenha oculto por padrão */
  z-index: 1000; /* Garante que esteja acima dos outros elementos */
}


.details-wrapper {
  display: flex;
  width: 98%;
  height: 480px;
  margin: auto;
}

.details-left {
  width: 49%;
  height: 479px;
  margin: auto;
}

.details-right {
  width: 45%;
  height: 479px;
  margin: auto;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 25px;
}

.carousel-images {
  display: flex;
  transition: transform 0.02s ease;
  height: 478px;
}

.carousel img {
  width: 100%;
  height: 490px;
  display: none;
}

.carousel img.active {
  display: block;
  height: 477px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(17, 15, 15, 0.52) rgba(188, 230, 243, 0.006);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(3, 6, 6, 0.006);
  border-radius: 20px;
  border: 3px solid rgba(188, 230, 243, 0.006);
}