/* styles.css */

body {
  
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000;
  /* Fundo preto */
  color: #fff;
  /* Texto branco */

}

#custom-header  {
  position: fixed;
  width: 100%;
  z-index: 1000; /* Alto valor para garantir que fique acima de outros elementos */
}

header nav a img {
  width: 100px;
}

main {
  background: #000;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  padding-top: 90px;
}

.container-1 {
  border-radius: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 98%;
  margin: auto;
  margin-top: 10px;
  background: #222;
  padding-top: 10px;
  box-shadow: 0px 0px 1px 1px rgba(0, 217, 255);
}

.container-2 {
  text-align: center;
  display: block;
  padding-top: 20px;
}

aside {
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  height: 75px;
  justify-content: space-around;
  background: #444;
  color: #888888;
  text-align: center;
  align-items: center;
  padding: 20px 10px 80px 10px;
  margin: auto;
  margin-top: 20px;
  font-size: 12px;
}

.Networking {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: auto;
  text-decoration: none;
}


footer p{
  padding-top: 20px;
}


.content-network a {

    color: #cdcdcd;
    text-decoration: none;
   
}

.compiled {
  font-size: 12px;
  text-decoration: none;
  color: #c6c6c6;
  background: #444;
}

/* Botões com cor rgb(0, 217, 255) */
button {
  background-color: rgb(0, 217, 255);
  color: #000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #00b2e0;
}

.button {
  background-color: rgb(0, 217, 255);
  color: #000;
  border: none;
  padding: 5px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #00b2e0;
}



@media (max-width: 770px) {
  .container-1 {
    width: 90%;
    height: 690px;
  }
}

@media (max-width: 650px) {
  .container-1 {
      width: 98%;
      height: 440px;
  }
}

@media (max-width: 395px) {
  .container-1 {
      width: 98%;
      height: 480px;
  }

  footer {
    width: 113%;
    height: 75px;
    justify-content: space-around;
    background: #444;
    color: #888888;
    text-align: center;
    align-items: flex-end;
    padding: 5px 0px 5px 0px;
    margin: auto;
    font-size: 10px;
    display: flex;
  }
}

@media (max-width: 550px) {
  footer {
    width: 100%;
    height: 130px;
    justify-content: space-around;
    background: #444;
    color: #888888;
    text-align: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    margin: auto;
    font-size: 10px;
  }
  .Networking {
    display: block;
    justify-content: space-around;
    width: 12%;
    margin: auto;
    text-decoration: none;
}
}
